@import 'reset';

.stickman-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info-wrapper {
 margin-left: 1rem;
 width: 100%;

 .good-answer,.all-guesses {
     margin-bottom: 1rem;
     font-size: 3rem;
 }
}

.board {
    border: 3px dotted black;
}

.overlay {
    position: fixed;
    display: none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    background-color: rgba(0,0,0,0.5); 
  }

  .message,.reset-button {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    color: white;
    transform: translate(-50%,-50%);
  }

  .reset-button {
      top: 60%;
      color: #F4F4F4;
      background-color: #557571;
  }

  .info-data {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
  }